# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# editor
/.vscode/

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
npm_output.log

# generated app data
/data/models/
/data/apis/*.py
/data/apis/*.js
/data/apis/package.json
/data/apis/jest.config.js
/data/apis/run_tests.js

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
